.tag-class {
    background-color: #f2f2f2; /* 배경색 */
    color: #333; /* 글자색 */
    padding: 5px 10px; /* 안쪽 여백 */
    border-radius: 5px; /* 테두리 둥글게 */
    display: inline-block; /* 인라인 블록 요소로 표시 */
    margin: 2px; /* 외곽 여백 */
    font-size: 12px; /* 글자 크기 */
    font-family: Arial, sans-serif; /* 글꼴 */
}

.tag-class .fa-tag {
    margin-right: 5px; /* 아이콘과 텍스트 사이의 여백 */
}

.tag-button-class {
    background-color: #f2f2f2; /* 배경색 */
    color: #333; /* 글자색 */
    padding: 5px 10px; /* 안쪽 여백 */
    box-sizing: border-box; /* 테두리와 패딩을 너비와 높이에 포함 */
    border: 2px solid #e0e0e0;
    border-radius: 5px; /* 테두리 둥글게 */
    display: inline-block; /* 인라인 블록 요소로 표시 */
    margin: 2px; /* 외곽 여백 */
    font-size: 12px; /* 글자 크기 */
    font-family: Arial, sans-serif; /* 글꼴 */
}

/* 마우스 오버 시 스타일 변경 */
.tag-button-class:hover {
    background-color: #e0e0e0; /* 배경색 변경 */
    box-sizing: border-box; /* 테두리와 패딩을 너비와 높이에 포함 */
    border: 2px solid #000000;
    cursor: pointer;
}

.tag-button-class .fa-tag {
    margin-right: 5px; /* 아이콘과 텍스트 사이의 여백 */
}

a.tag-link {
    display: inline-block;
}
